<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Akira Mart</h1>
      <p class="lead fw-normal text-white-50 mb-0">商品編集画面</p>
    </div>
  </div>
</header>
<%= render partial: 'form', locals: { product: @product, path: admin_product_path(@product.id), submit_button: '更新'	} %>