<html>
  <head>
    <title>Shop Homepage - Start Bootstrap Template</title>
  </head>
  <body>
    <!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Akira Mart</h1>
          <p class="lead fw-normal text-white-50 mb-0">格安で高品質な商品をお届け</p>
        </div>
      </div>
    </header>
    <!-- Section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <%= render partial: 'product_card', locals: { products: @products } %>
      </div>
    </section>
  </body>
</html>
